<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Ejemplo de seguridad basica en memoria 2023 </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Usuario y clave incorrectas.
        </div>
        <div th:if="${param.logout}">
            Se ha deslogado con exito.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Usuario : <input type="text" name="username"/> </label></div>
            <div><label> Clave: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>